<html>
<body>
   <h2>Using the <i> fetch() browser method </i> to fetch data from API</h2>
   <div id = "output"> </div> 
   <button onclick = "fetchData()"> Fetch API to get data </button>
   <script>
      let output = document.getElementById('output');
      function fetchData() {
         fetch('http://localhost:8080/legalfirm')
         .then(response => response.json())
         .then(data => {
            output.innerHTML += "id = " + data.id + "<br/>";
            output.innerHTML += "name = " + data.name + "<br/>";
            output.innerHTML += "phone = " + data.phone + "<br/>";
            output.innerHTML += "email = " + data.email + "<br/>";
            output.innerHTML += "description = " + data.description + "<br/>";
          
         })
      }
   </script>
</body>
</html>